<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
</head>
<body>
    <h1>Employee List</h1>

    <% if (employees && employees.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Role</th>
                    <th>Employee Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach(employee => { %>
                    <tr>
                        <td><%= employee.name %></td>
                        <td><%= employee.email %></td>
                        <td>£ <%= employee.salary %></td>
                        <td><%= employee.role %></td>
                        <td><%= employee.num %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No employees found.</p>
    <% } %>
</body>
</html>